* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #fff;
  font: .8em/150% Arial, Helvetica, sans-serif;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}

a {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

a:visited {
  color: #000;
  font-weight: bold;
  text-transform: none;
}

h1 {
  color: #000;
  font: bolder 200% Helvetica, Sans-Serif;
  line-height: 1.2;
  letter-spacing: 0.03em;
  padding-top: 0px;
}

h2 {
  color: #000;
  font: bolder 150% Helvetica, Sans-Serif;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #000;
    margin: 1em 0;
    padding: 0;
}

ul.head {
  list-style: none;
  text-align: left;
  position: fixed;
  left: 0;
  top: 0;
}

ul.cat-nav {
  list-style: none;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

ul.cat-nav li {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  letter-spacing: 0.03em;
}

#menu {
  display: none;
}

#plus {
  display: block;
}

#min {
  display: block;
}

ul.cat-center {
  list-style: none;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 10px;
}

ul.cat-center li {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  letter-spacing: 0.03em;
}

img.nav-bottom {
  margin: 15px 10px;
}


ul.nav-bottom {
  list-style: none;
  text-align: center;
  position: fixed;

  /**background-color: #fff;
  adjust location**/
  right: 0px;
  bottom: 5px;
  padding: 0;
  width: 100%;
}

ul.nav-bottom li {
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  letter-spacing: 0.04em;
}

.wrapper {
  width: 100%;
  padding: 0px 0;
  background-color: #fff;
}

.container {
  width: 600px;
  margin: 0 auto;
}

/* ---------- Zoom container MAX ---------- */

.image-zoom-container-max {
  list-style: none;
  font-size: 0px;
}

.zoom-container-max {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  /* this value + 2 should = 33% */
  font-size: 12px;
  vertical-align: top;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 0px solid #fff;
}

.zoom-container-max img {
  display: block;
  width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  .container {
    width: auto;
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 600px) {
  .container {
    width: auto;
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 480px) {
  .container {
    width: auto;
    padding: 0px 0px 0px 0px;
  }
}
